<div class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="Buscar"
    [(ngModel)]="filtroLista">
  </div>
</div>
<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="thead-ligth">
    <tr>
      <th>
        <button class="btn btn-outline-primary"
        (click)="alternarImagem()">
          Mostar Imagem
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img *ngIf="mostrarImagem"
          src="https://localhost:5001/img/{{evento.imagemUrl}}"
          [style.width.px] = "imgemLargura"
          [style.margin.px] = "imgemMargem">
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote | uppercase}}</td>
      <td>
        <button class="btn btn-success"></button>
        <button class="btn btn-danger"></button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="4" class="text-center">
        <h3>
          Nenhum evento encontrado!
        </h3>
      </td>
    </tr>
  </tfoot>
</table>
